<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%PYTHON_PATH%" 
                  arguments="-m gunicorn --bind 0.0.0.0:%HTTP_PLATFORM_PORT% app:app"
                  stdoutLogEnabled="true" 
                  stdoutLogFile="python.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="TZ" value="Asia/Seoul" />
        <environmentVariable name="WEBSITE_TIME_ZONE" value="Asia/Seoul" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>